body {
    background: url(/assets/images/bgnd.png);
    font-family: 'Roboto', sans-serif
}

#messagesContainer {
    height: 70vh
}

.container {
    border-radius: 20px
}

.logotext {
    font-family: 'Modak', cursive;
    font-size: 2rem
}

#userNick {
    font-family: 'Modak', cursive;
    font-size: 1.5rem
}

#userAvatar, #profilePicture {
    object-fit: cover
}